@import "tailwindcss";

/* extras tuyos */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
::selection { background: #111; color: #fff; }

html { scroll-behavior: smooth; }

body {
  font-family: "Major Mono Display", monospace;
}